html, body {
  min-height: 100%;
  margin: 0;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  background: -webkit-linear-gradient(#ffe2d2, #ffbc97) fixed;
  background: -moz-linear-gradient(#ffe2d2, #ffbc97) fixed;
  background: -o-linear-gradient(#ffe2d2, #ffbc97) fixed;
  background: linear-gradient(#ffe2d2, #ffbc97) fixed;
  background-repeat: no-repeat;
}

body {
  height: 100%;
  width: 100%;
}



.container {
  position: relative;
  width: 360px;
  height: 640px;
  margin-top: 5rem;
  border: 3px solid #6FA7C6;
  background-color: white;
  border-radius: 10px;
  padding: 0;
  -webkit-transform: scale(1.0);
  overflow: hidden;
  background-image: url(background.jpg);
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  background-repeat: no-repeat;
}

table {
  position: absolute;
  bottom: 0.5rem;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

td {
  width: 25%;
  font-size: 2.4rem;
  /*border: 1px solid black;*/
  padding: 0;
  position: relative;
}

a:hover {
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#output-outer {
  background-color: transparent;
  margin-top: 35%;
  padding-right: 1.5rem;
  font-size: 3em;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-rendering: geometricPrecision;
  -webkit-transform: scale(1.0);
}

#output {
  float: right;
}

.operator,
#equals {
  color: #ff7e35;
  font-size: 3rem;

  /*display: block;*/
  display: flex;
  justify-content: center;
  align-self: baseline;
  line-height: 100%;
  padding-bottom: 10%;
  padding-top: -20%;
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  -webkit-transform: scale(1.4);
}

.integer {
  color:#2E2E2E;
  font-size: 2.7rem;
}

#backspace {
  font-size: 2.1rem;
}

#backspace,
#negative,
#decimal,
#parentheses {
  color: #727272;
}

#negative {
  display: flex;
  justify-content: center;
  align-self: center;
  line-height: 100%;
  padding-bottom: 10%;
  padding-top: -20%;
  -webkit-transform: scale(0.85);
}

#clear {
  color: #ff3551;
  display: flex;
  justify-content: center;
  align-self: baseline;
  line-height: 100%;
  /*padding-bottom: 10%;
  padding-top: -20%;*/
  -webkit-transform: scale(1.2);
}

.initial {
  color: white;
}

.unclosed-par {
  display: inline-block;
  margin-right: 0.25px;
  animation-duration: 0.25s;
  animation-name: flash;
  animation-timing-function: ease-in;

}

@keyframes flash {
  from {
    -webkit-transform: scale(1.5);
    color: #ff3551;
  }

  to {
    -webkit-transform: scale(1.0);
    color: white;
  }
}

@media (max-width: 576px) {
  html {
    height: 100%
  }

  .container {
    height: 100%;
    width: 100%;
    margin-top: 0;
    border-radius: 0;
  }

  table {
    height: 50%;
  }
}
