.container {
  max-width: 350px;
  border: 2px solid blue;
  border-radius: 10px;
  background-color: #b3c6ff;
  -webkit-transform: scale(1.0);
}

#output {
  background-color: white;
  border-radius: .25em;
  font-size: 1.5em;
  text-rendering: geometricPrecision;
  -webkit-transform: scale(1.0);
}

.col {
  border: 1px solid #8c8c8c;
}

.btn {
  font-size: 1.5em;
}

.btn {
  border-radius: 0;
}

#clear {
  color: white;
  border-radius: 0.25rem 0 0 0;
}

#divide {
  border-radius: 0 0.25rem 0 0;
}

#negative {
  border-radius: 0 0 0 0.25rem;
}

#equals {
  border-radius: 0 0 0.25rem 0;
}



.initial {
  color: white;
}

.unclosed-par {
  display: inline-block;
  margin-right: 0.25px;
  animation-duration: 0.25s;
  animation-name: flash;
  animation-timing-function: ease-in;

}

@keyframes flash {
  from {
    -webkit-transform: scale(1.5);
    color: red;
  }

  to {
    -webkit-transform: scale(1.0);
    color: black;
  }
}
