body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
  background-image: linear-gradient(#ffa370, #ffe2d2);
  background-repeat: no-repeat;
}

.container {
  width: 360px;
  height: 640px;
  margin-top: 5rem;
  border: 3px solid #7d8ab2;
  background-color: white;
  border-radius: 10px;
  padding: 0;
  -webkit-transform: scale(1.0);
  overflow: hidden;
}

table {
  margin-top: 3rem;
  width: 100%;
  text-align: center;
}

td {
  width: 25%;
  font-size: 2.4rem;
}

#output-outer {
  background-color: white;
  border-radius: .25em;
  border: 2px solid #8c8c8c;
  font-size: 1.5em;
  overflow: hidden;
  white-space: nowrap;
  text-rendering: geometricPrecision;
  -webkit-transform: scale(1.0);
}

#output {
  float: right;
}

.col {
  border: 1px solid #8c8c8c;
}

.btn {
  font-size: 1.5em;
}

.btn {
  border-radius: 0;
}

#clear {
  color: white;
  border-radius: 0.25rem 0 0 0;
  border-width: 2px 1px 1px 2px;
}

#divide {
  border-radius: 0 0.25rem 0 0;
  border-width: 2px 2px 1px 1px;
}

#negative {
  border-radius: 0 0 0 0.25rem;
  border-width: 1px 1px 2px 2px;
}

#equals {
  border-radius: 0 0 0.25rem 0;
  border-width: 1px 2px 2px 1px;
}

#backspace,
#parentheses {
  border-width: 2px 1px 1px 1px;
}

#times,
#minus,
#plus {
  border-width: 1px 2px 1px 1px;
}

#decimal,
#zero {
  border-width: 1px 1px 2px 1px;
}

#seven,
#four,
#one {
  border-width: 1px 1px 1px 2px;
}

.initial {
  color: white;
}

.unclosed-par {
  display: inline-block;
  margin-right: 0.25px;
  animation-duration: 0.25s;
  animation-name: flash;
  animation-timing-function: ease-in;

}

@keyframes flash {
  from {
    -webkit-transform: scale(1.5);
    color: red;
  }

  to {
    -webkit-transform: scale(1.0);
    color: black;
  }
}
